body{
    box-sizing: border-box;
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative; */
}

.title{
    text-align: center;
}


.containerOne{
    height: 45vh;
}
.info{
    display: flex;
    justify-content: space-around;

}

.containerTwo{
    height: 50vh;
}

img{
    position: absolute;
    top: 25vh;
    left: 50%;
    margin-left: -290px;
    width: 30%;
}